<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="Org_InsuranceDomain_Clients.AddNomineeTest"/>
      <class name="Org_InsuranceDomain_Clients.UpdateClientTest"/>
      <class name="Org_InsuranceDomain_Clients.AddClientTest"/>
      <class name="Org_InsuranceDomain_Clients.AddPaymentTest"/>
      <class name="Org_InsuranceDomain_Clients.CheckClientStatusTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
